BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "leds[0]" SITE "N13" ;
LOCATE COMP "leds[1]" SITE "M12" ;
LOCATE COMP "leds[2]" SITE "P12" ;
LOCATE COMP "leds[3]" SITE "M11" ;
LOCATE COMP "leds[4]" SITE "P11" ;
LOCATE COMP "leds[5]" SITE "N10" ;
LOCATE COMP "leds[6]" SITE "N9" ;
LOCATE COMP "leds[7]" SITE "P9" ;
LOCATE COMP "ser_tx" SITE "E3" ;
LOCATE COMP "ser_rx" SITE "F3" ;
LOCATE COMP "flash_clk" SITE "P13" ;
LOCATE COMP "flash_csb" SITE "P3" ;
LOCATE COMP "flash_io0" SITE "N4" ;
LOCATE COMP "flash_io1" SITE "M4" ;
LOCATE COMP "flash_io2" SITE "C8" ;
LOCATE COMP "flash_io3" SITE "B8" ;
